
<div class="container">
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">

     <script src="https://kit.fontawesome.com/52ec04519a.js" crossorigin="anonymous"></script>
      <h1>welcome to
       <i class="fas fa-book"></i>
      <strong>Bookers</strong>
       !!
     </h1>